.btn {
	padding: .5rem 1rem;
	border: 1px solid #000;
	transition: all .2s;

	&:link,
	&:visited {
		text-decoration: none;
		color: #000;
	}

	&:active,
	&:hover {
		color: #fff;
		background-color: #000;

		.btn__svg { fill: #fff; }
	}

	&__svg { margin-left: 1rem; }

	&__sc { display: inline-block; }
}
