.btn {
	padding: .5rem 1rem;
	border: 1px solid;

	&:link,
	&:visited {
		text-decoration: none;
		color: #000;
	}

	&__svg { margin-left: 1rem; }

	&__sc {
		background-color: #f4f4f4;
		padding: 1.5rem;
		font-weight: 500;

		&:link,
		&:visited { text-decoration: none; }
	}
}
