.donation {

	&__container {
		background-position: left;
		padding: 3rem;
		margin: 5rem 0;
	}

	&__title,
	&__text {
		font-family: 'Archivo Black', sans-serif;
		-webkit-text-stroke: 1px black;
		margin-bottom: 3rem;
	}
}
