* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after { box-sizing: inherit; }

html {
	box-sizing: border-box;
	font-size: 50%;

	@include respond(bp-med) { font-size: 56.25%; }

	@include respond(bp-med) { font-size: 62.5%;; }

}

body {
	display: flex;
	flex-direction: column;

	@include respond(bp-lg) { flex-direction: row; }
}

.main { @include respond(bp-lg) { width: 55%; } }
