.content {

	&__container {
		text-align: justify;
		line-height: 3rem;

		h2 {
			font-family: 'Archivo Black', sans-serif;
			text-transform: uppercase;
			margin-bottom: 3rem;

		}

		a {

			&:link,
			&:visited { color: var(--color-primary); }
		}

		p { margin-bottom: 3rem; }
	}
}
