.footer {

	@include respond(bp-lg) {
		width: 45%;
		padding-top: 3rem;
		position: fixed;
		bottom: 0;
		left: 0;
	}

	&--light { color: #fff; }

	&--dark { color: #000; }

	&__container {
		width: 90%;
		margin: auto;
		margin-bottom: 3rem;
		align-items: center;

		@include respond(bp-small) {
			width: 80%;
			max-width: 80rem;
		}

		@include respond (bp-med) {
			width: 70%;
			max-width: 700px;
		}

		@include respond (bp-lg) {
			width: 60%;
			max-width: 600px;
		}
	}

	&__menu {
		list-style: none;
		padding-left: 0;
		display: flex;
		justify-content: space-between;
		margin-top: 3rem;

		@include respond (bp-med) { display: flex; }

		@include respond (bp-lg) { display: none; }
	}

	&__item { text-transform: uppercase; }

	&__link {

		&:link,
		&:visited {
			text-decoration: none;
			color: inherit;
		}
	}

	&__copyright {
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
	}

	&__pipe { margin: 0 .5rem; }
}
