.navigation {
	display: flex;
	justify-content: space-between;

	&__content,
	&__language {
		list-style: none;
		display: flex;
	}

	&__content { justify-content: space-around; }

	&__item { padding: 5rem 0 2rem 0; }

	&__link {
		padding: 5.5rem 2rem 2.6rem 2rem;

		&:link,
		&:visited {
			text-decoration: none;
			color: #fff;
			font-weight: 700;
		}

		&--dark {

			&:link,
			&:visited { color: #000000; }

			&:hover,
			&:active {
				color: #ffffff;
				background-color: #000000;
			}
		}

		&--light {

			&:link,
			&:visited { color: #ffffff; }

			&:hover,
			&:active {
				color: #000000;
				background-color: #ffffff;
			}
		}
	}
}
