.navigation {
	width: 100%;

	&__content {
		list-style: none;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		padding: 5rem 0 2rem 0;

		&-flag { padding: 5.5rem 0 1.5rem 0; }
	}

	&__link {
		padding: 5.5rem 1rem 2.6rem 1rem;


		&:link,
		&:visited {
			text-decoration: none;
			color: #fff;
			font-weight: 700;
		}

		&--dark {

			&:link,
			&:visited { color: #000000; }

			&:hover,
			&:active {
				color: #ffffff;
				background-color: #000000;
			}
		}

		&--light {

			&:link,
			&:visited { color: #ffffff; }

			&:hover,
			&:active {
				color: #000000;
				background-color: #ffffff;
			}
		}

		&-flag { padding: 0 1rem; }
	}

	&__flag {
		padding: 5.5rem 0 1rem 0;
		margin-left: 1rem;

		&-link {
			background-color: #f4f4f4;
			padding: 1.4rem .5rem .5rem .5rem;
		}
	}
}
