.navigation {
	display: flex;
	justify-content: space-between;

	&__content,
	&__language {
		list-style: none;
		display: flex;
	}

	&__content { justify-content: space-around; }

	&__item { padding: 5rem 0 2rem 0; }

	&__link {
		padding: 5.5rem 2rem 2.6rem 2rem;

		&:link,
		&:visited {
			text-decoration: none;
			color: #fff;
			font-weight: 700;
		}

		&:hover,
		&:active {
			color: #333;
			background-color: #fff;
		}
	}
}
