.sidebar {
	color: #fff;
	width: 45%;
	min-height: 100vh;

	&__container {
		width: 60%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo { margin: 10rem 0 5rem 0; }

	&__title {
		font-family: 'Archivo Black', sans-serif;
		text-transform: uppercase;
		width: 100%;
		text-align: center;
		line-height: 4rem;
		margin-bottom: 2rem;
	}

	&__date,
	&__location { font-size: 1.8rem; }

	&__date { margin-bottom: 1rem; }
}
