.sidebar {
	width: 45%;
	min-height: 100vh;

	&--dark { color: #000000; }

	&--light { color: #ffffff; }

	header {
		position: sticky;
		top: 0;
	}

	&__container {
		width: 60%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo { margin: 10rem 0 5rem 0; }

	&__title {
		font-family: 'Archivo Black', sans-serif;
		text-transform: uppercase;
		width: 100%;
		text-align: center;
		line-height: 4rem;
		margin-bottom: 2rem;
	}

	&__details {
		font-size: 1.8rem;

		&:not(:last-child) { margin-bottom: 1rem; }
	}

	&__bold { font-weight: 500; }
}
