{{ $type := .Scratch.Get `type` }}
<div class="card">
	<h1 class="card__title">{{ .Params.title }}</h1>
	<div class="card__date">{{ .Date.Format .Site.Params.DateForm }}</div>
	<div class="card__line" style="border-color: {{ .Params.colour }};"></div>
	{{ if eq $type "article" }}
		<div class="card__teaser">
			{{ .Summary }}
		</div>
	{{ end }}
	<div class="card__btn">
		<a href="{{ .RelPermalink }}" class="btn" style="border-color: {{ .Params.colour }};">
			Read
			{{- partial "svgs/chevron_right.html" . -}}
		</a>
	</div>
</div>
