<div class="donation__container" style="background: url(https://res.cloudinary.com/ml7757/image/upload/nimajason/{{ .background }}); color: {{ .color }};">
	<h2 class="donation__title">{{ T "donation_title" }}</h2>
	<h2 class="donation__text">{{ T "donation_text" }}</h2>
	<form action="https://www.paypal.com/donate" method="post" target="_top" class="donation__btn">
		<input type="hidden" name="hosted_button_id" value="VYVEHDHS7SER8" />
		<input type="image" src="https://res.cloudinary.com/ml7757/image/upload/c_scale,q_auto:best,w_175/v1617261610/nimajason/paypal-btn_pdp44m.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
		<img alt="" border="0" src="https://www.paypal.com/en_CH/i/scr/pixel.gif" width="1" height="1" />
	</form>
</div>
