<nav class="navigation">
	<div class="navigation__home">
		<img src="{{ .Site.Params.cloudinary_url }}/nimajason_logo-big_k8t9kw.png" alt="Nimajason logo" class="navigation__logo">
		<div class="navigation__language">
			{{- partial "svgs/uk_flag_svg.html" . -}}
			{{- partial "svgs/eritrea_flag_svg.html" . -}}
		</div>
	</div>
	<ul class="navigation__content">
		<li class="navigation__item"><a href="" class="navigation__link">Poems</a></li>
		<li class="navigation__item"><a href="" class="navigation__link">Tigrinya</a></li>
		<li class="navigation__item"><a href="" class="navigation__link">Eritrea</a></li>
		<li class="navigation__item"><a href="" class="navigation__link">About</a></li>
	</ul>
</nav>
