<nav class="navigation">
	<ul class="navigation__content">
		<li class="navigation__item" style="background-color:{{ .Params.accent_2 }};"><a href="{{ "/" | relLangURL }}" class="navigation__link navigation__link--{{ .Params.theme }}">nimajason</a></li>
		<li class="navigation__item"><a href="{{ "/poems" | relLangURL }}" class="navigation__link navigation__link--{{ .Params.theme }}">poems</a></li>
		<li class="navigation__item"><a href="{{ "/articles" | relLangURL }}" class="navigation__link navigation__link--{{ .Params.theme }}">eritrea</a></li>
		<li class="navigation__item"><a href="{{ "/about" | relLangURL  }}" class="navigation__link navigation__link--{{ .Params.theme }}">about</a></li>
		{{ if .IsTranslated }}
			{{ range .Translations }}
				<li class="navigation__flag">
					{{ if eq .Language.LanguageName "English" }}
						<a href="{{ .Permalink }}" class="navigation__flag-link">
							{{ partial "svgs/uk_flag_svg.html" . }}
						</a>
					{{ else }}
						<a href="{{ .Permalink }}" class="navigation__flag-link">
							{{ partial "svgs/eritrea_flag_svg.html" . }}
						</a>
					{{ end }}
				</li>
			{{ end}}
		{{ end }}
	</ul>
</nav>
