<div class="sidebar sidebar--{{ .Params.theme }}" style="background-color:{{ .Params.accent_1 }};">
	<header>
		<div class="sidebar__container">
			{{ partial "navigation.html" . }}

			{{ partial "svgs/nimajason_logo.html" . }}

			<h2 class="sidebar__title">
				{{ if .Params.sidebar_title}}
					{{ .Params.sidebar_title }}
				{{ else }}
					{{ .Params.title }}
				{{ end }}
			</h2>
			<div class="sidebar__details">
				<p class="sidebar__item">
					{{ if .Params.date }}
					<span class="sidebar__bold">{{ T "sidebar_created" }}:</span> {{ .Date.Format .Site.Params.DateForm }}
					{{ end }}
				</p>
				<p class="sidebar__item">
					{{ if .Params.location }}
					<span class="sidebar__bold">{{ T "sidebar_location" }}:</span> {{ .Params.location }}
					{{ end }}
				</p>
				<p class="sidebar__item">
					{{ if .Params.author }}
					<span class="sidebar__bold">{{ T "sidebar_by" }}:</span> {{ .Params.author }}
					{{ end }}
				</p>
			</div>
		</div>
	</header>
</div>
