<div class="sidebar" style="background-color:{{ .Params.colour }};">
	<header>
		<div class="sidebar__container">
			{{- partial "navigation.html" . -}}

			{{- partial "svgs/nimajason_logo.html" . -}}

			<h2 class="sidebar__title">
				{{ if .Params.sidebar_title}}
					{{ .Params.sidebar_title }}
				{{ else }}
					{{ .Params.title_ti }}
				{{ end }}
			</h2>
			<p class="sidebar__date">
				{{ if .Params.date }}
					Created: {{ .Date.Format "2.01.2006 at 15:04 MST" }}
				{{ end }}
			</p>
			<p class="sidebar__location">
				{{ if .Params.location }}
					location: {{ .Params.location }}
				{{ end }}
			</p>
		</div>
	</header>
</div>
