<div class="sidebar sidebar--{{ .Params.theme }}" style="background-color:{{ .Params.colour }};">
	<header>
		<div class="sidebar__container">
			{{ partial "navigation.html" . }}

			{{ partial "svgs/nimajason_logo.html" . }}

			<h2 class="sidebar__title">
				{{ if .Params.sidebar_title}}
					{{ .Params.sidebar_title }}
				{{ else }}
					{{ .Params.title }}
				{{ end }}
			</h2>
			<p class="sidebar__details">
				{{ if .Params.date }}
					<span class="sidebar__bold">Created:</span> {{ .Date.Format .Site.Params.DateForm }}
				{{ end }}
			</p>
			<p class="sidebar__details">
				{{ if .Params.location }}
					<span class="sidebar__bold">location:</span> {{ .Params.location }}
				{{ end }}
			</p>
			<p class="sidebar__details">
				{{ if .Params.author }}
					<span class="sidebar__bold">By:</span> {{ .Params.author }}
				{{ end }}
			</p>
		</div>
	</header>
</div>
