{{ $theme := .Get "color" }}
{{ $type := .Get "type" }}
{{ $poem := where .Site.Pages ".Params.poem" true }}
{{ $article := where .Site.Pages ".Params.poem" false }}

{{ if eq $type "poem" }}
	{{ range first 3 $poem.ByDate.Reverse }}
		<div class="card">
			{{ if .Params.eng_title }}
				<h1 class="card__title">{{ .Params.eng_title }}</h1>
			{{ else }}
				<h1 class="card__title">{{ .Params.title }}</h1>
			{{ end }}
			<div class="card__date">{{ .Date.Format .Site.Params.DateForm }}</div>
			<div class="card__line" style="border-color: {{ $theme }};"></div>
			<div class="card__btn">
				<a href="{{ .RelPermalink }}" class="btn" style="border-color: {{ $theme }};">
					{{ T "card_btn" }}
					{{- partial "svgs/chevron_right.html" . -}}
				</a>
			</div>
		</div>
	{{ end }}
{{ else }}
	{{ range first 3 $article.ByDate.Reverse }}
		<div class="card">
			<h1 class="card__title">{{ .Params.title }}</h1>
			<div class="card__date">{{ .Date.Format .Site.Params.DateForm }}</div>
			<div class="card__line" style="border-color: {{ $theme }};"></div>
			<div class="card__teaser">
				{{ .Summary }}
			</div>
			<div class="card__btn">
				<a href="{{ .RelPermalink }}" class="btn" style="border-color: {{ $theme }};">
					{{ T "card_btn" }}
					{{- partial "svgs/chevron_right.html" . -}}
				</a>
			</div>
		</div>
	{{ end }}
{{ end }}
