{{ $theme := .Get "color" }}
{{ $poem := where .Site.Pages ".Params.poem" true }}
{{ range first 3 $poem.ByDate.Reverse }}
	<div class="poem__card">
		<h1 class="poem__title">{{ .Params.title }}</h1>
		<div class="poem__line" style="border-color: {{ $theme }};"></div>
		<div class="poem__group">
			<div class="poem__date">{{ .Date.Format .Site.Params.DateForm }}</div>
			<a href="{{ .RelPermalink }}" class="btn" style="border-color: {{ $theme }};">
				Read
				{{- partial "svgs/chevron_right.html" . -}}
			</a>
		</div>
	</div>
{{ end }}
